.mui-slider .mui-table-view-cell>a:not(.mui-btn) {
    margin: -10px -15px;
    padding: 16px 15px;
}
.mui-slider .mui-table-view .mui-media-object {
    line-height: 51px;
    height: 51px;
    max-width: 51px;
}
.mui-bar-nav [class*="icon-"].mui-pull-right {
	margin-right: 0;
	margin-left: 12px;
	padding-right: 0;
	padding-left: 0;
}
.mui-bar-nav [class*="icon-"]:not(.mui-pull-left) {
    font-size: 24px;
    z-index: 2;
    padding: 0;
    margin-top: 7px;
    width: 28px;
    height: 28px;
    background-image: url(../img/svg/icon-bar-nav.svg);
}
.icon-search {
    background-position: 0 -38px;
}
.icon-filter {
    background-position: 0 -114px;
}
/**/
.mui-table{
	width:75%
}
h4,.mui-h4{
	line-height:28px !important
}
.coustom-position{
	position:relative
}
.icon-level{
	display:block;
	position:absolute;
	top:9px;
	left:5px;
	width:24px;
	height:25px;
	background-image:url(../img/priority-01.png);
	background-size:25px;
	color:red;
	text-align:center;
	line-height:26px;
	font-size:12px;
	font-style:normal;
}
.mui-table-view-cell{
	padding:11px 15px 11px 17px
}
a[execute-type] button,a[execute-type]{
	background-color:rgba(0, 0, 0, 0) !important
}
i[execute-type]{
	display:inline-block!important;
	position:absolute!important;
	line-height:30px;
	padding:0 5px!important;
	right:10px!important;
	top:50%;
	margin:-15px 0 0 0!important;
	border-radius:5px;
	color:#0A569D!important;
	z-index:1;
	font-size:14px;
}
#seach-div{
	position:absolute;
	z-index:999;
	background:#fff;
	width:100%;
	top:45px;
	left:0;
	bottom:0
}
#seach-div .mui-table-cell{
	display:block;
	margin:0
}

/*
*
*
*/
.mui-bar~.mui-content .mui-fullscreen {
	height: auto;
}
.service .mui-tab-item:nth-child(2) .icon-bar-service {
	/*background-position: 0px -50px;*/
	background-position: -50px -50px;
}

.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	z-index:1;
}
.mui-bar~.mui-pull-top-tips {
	top: 24px;
}
.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	/*box-shadow: 0 4px 10px #bbb;*/
	overflow: hidden;
}

.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
	/*-webkit-backface-visibility: hidden;
				-webkit-transition-duration: 400ms;
				transition-duration: 400ms;*/
	margin: 0;
}

.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}
.mui-pull-top-wrapper .mui-icon.mui-reverse {
	/*-webkit-transform: rotate(180deg) translateZ(0);*/
}
.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.mui-pull-top-canvas canvas {
	width: 40px;
}

.mui-pull-bottom-tips {
	text-align: center;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}

.info .mui-pull-top-tips {
	z-index: 2;
}
#servicePage .mui-bar .mui-search {
	transform: translate(200%); 
	-webkit-transform: translate(200%); 
	transition: all 0.4s ease-in-out; 
	-webkit-transition: all 0.4s ease-in-out; 
}

#servicePage .mui-bar .search-text-pack {
	transform: translate(0%);
	-webkit-transform: translate(0%);
}

.more-lists .mui-bar .search-text-pack {
	-webkit-animation: anim-enter-right .2s forwards;
	animation: anim-enter-right .2s forwards;
}

.search-bar button {
	-webkit-animation: anim-enter-right .4s forwards;
	animation: anim-enter-right .4s forwards;
}

@-webkit-keyframes anim-enter-left {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	40% {
		opacity: 1;
		-webkit-transform: translate3d(-20%, 0, 0);
		transform: translate3d(-20%, 0, 0);
	}
	90% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes anim-enter-left {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	40% {
		opacity: 1;
		-webkit-transform: translate3d(-20%, 0, 0);
		transform: translate3d(-20%, 0, 0);
	}
	90% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes anim-enter-right {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	40% {
		opacity: 1;
		-webkit-transform: translate3d(-20%, 0, 0);
		transform: translate3d(20%, 0, 0);
	}
	90% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes anim-enter-right {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	40% {
		opacity: 1;
		-webkit-transform: translate3d(-20%, 0, 0);
		transform: translate3d(20%, 0, 0);
	}
	90% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.mui-fullscreen .mui-segmented-control~ .mui-slider-group {
	position: absolute;
	top: 40px;
	bottom: 0;
	width: 100%;
	height: auto;
}
.mui-bar .mui-search {
    position: absolute;
    color: #000;
    right: 50px;
    left: 40px;
    display: inline-block;
    width: auto;
    margin: 0;
    z-index: 9999;
}
.mui-bar .mui-search input[type=search] {
    border: 1px solid #e0e0e0;
    background: #fff;
    color: #000;
}
a[execute-type] {
    display: inline-block!important;
    position: absolute!important;
    line-height: 30px;
    padding: 0 5px!important;
    right: 10px!important;
    top: 50%;
    margin: -15px 0 0 0!important;
    border-radius: 5px;
    color: #0A569D!important;
    z-index: 1;
    background: #fff;
}
a[execute-type] button {
    height: 30px;
    width: 60px;
    border: 0;
    padding: 0;
    display: block;
    background: #fff;
    color: #0A569D;
    border-radius: 4px!important;
    -webkit-transition: all 0.1s;
}
.to_confirm, .service-li-a {
    border: 1px solid #0A569D!important;
}
.mui-table h4{
	font-weight: normal;
	font-size:15px;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
	border:0px
}
